html {
    background-image: url("Images/backimage.png");
    font-family: "Impact";
}

div.Errors {
    color: red;
}
body.Sign{
    margin-left: 25%;
    margin-right: 25%;
}

body.Help{
    margin-left: 10%;
    margin-right: 10%;
}


body {
    border: solid;
    background-image: url("Images/bodyimage.jpg");
    border-color: purple;
}

header {
    position:fixed;
}

h1 {
    background-color: violet;
}
h2 {
    background-color: violet;
}
p {
    background-color: violet;
}

div.active {
    position: absolute;
    top: 0px;
    right: 0px;
    color: violet;
    background-color: black;
    border: solid;
    border-color: purple;
}