html {
    background-image: url("Images/backimage.jpg");
    font-family: "Impact";
}

body {
    margin-left: 400px;
    margin-right: 400px;
    border: solid;
    background-image: url("Images/bodyimage.jpg");
    border-color: darkgreen;
}

table.topbar {

    color: black;
    text-underline: none;
}