html {
    background-image: url("Images/backimage.png");
    font-family: "Impact";
}

div.Errors {
    color: red;
}
body.Sign{
    margin-left: 25%;
    margin-right: 25%;
}

body.Help{
    margin-left: 10%;
    margin-right: 10%;
}
body.Game{
    margin-left: 10%;
    margin-right: 10%;
}


body {
    border: solid;
    background-image: url("Images/bodyimage.jpg");
    border-color: purple;
}

header {
    position:fixed;
}

h1 {
    background-color: violet;
}
h2 {
    background-color: violet;
}
p {
    background-color: violet;
}

.active {
    position: absolute;
    top: 0;
    right: 0;
    color: violet;
    background-color: lightgrey;
    border: solid;
    border-color: purple;
}
.topTable {
    margin: auto;
    width: 35%;
    background-image: url("Images/bodyimage.jpg");
    border-color: purple;
    text-align: center;
}

.TicTacToeTable {

    text-align: center;
    background-image: url("Images/board.png");
    margin: auto;
    width: 35%;
    background-position: left top;
    background-repeat: no-repeat;
}

.TicButton {
    background-color: lightslategrey;
    border: ridge;
    border-color: purple;
    height:100px;
    width:100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.TicPlayButton {
    font-family: "Impact";
    background-color: violet;
    border: ridge;
    border-color: purple;
    height:75px;
    width:310px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.BlackjackCards {
    font-family: "Impact";
    background-color: violet;
    border: ridge;
    border-color: purple;
    height:75px;
    width:310px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.BlackjackButton {
    font-family: "Impact";
    background-color: violet;
    border: ridge;
    border-color: purple;
    height:75px;
    width:311px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.BlackjackHitStay {
    font-family: "Impact";
    background-color: lightslategrey;
    border: ridge;
    border-color: purple;
    height:60px;
    width:150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.Slots {
    background-color: lightslategrey;
    border: ridge;
    border-color: purple;
    height:100px;
    width:100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.SlotsButton {
    font-family: "Impact";
    background-color: violet;
    border: ridge;
    border-color: purple;
    height:75px;
    width:311px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}